# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Logs
logs
*.log
npm-debug.log*

# Env
.env


# macOS
.DS_Store

# Editor
.vscode/
.idea/

# Build
dist/
build/

# OS temp files
*.swp
*~

# Audio / large assets (optional)
# If you prefer to track dingdong.mp3, remove next line
public/dingdong.mp3
